.mouseguard .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
}

.mouseguard form {
    height: 100%;
}

.mouse-dice-roll {
    list-style: none;
}

.mouse-dice-roll li {
    display: inline;
    margin: 0 2px;
    height: 24px;
    width: 24px;
}

.mouse-dice-roll li img {
    background-color: white;
}

.dice {
    min-height: 40px;
}

.dice li {
    display: inline;
    margin: 0 2px;
    height: 24px;
    width: 24px;
}

.dice li img {
    background-color: white;
    height: 24px;
    width: 24px;
}

.mouse-tray {
    flex: none;
}

.mouse_conflict input {
    font-size: large;
    margin-bottom: 20px;
}

.combat-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
}

.combat-action .action-move {
    text-align: right;
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}

.mouse_dice_button {
    flex: 1 1 0;
}

.mouse_roll_button {
    flex: 2 1 0;
}

.mg-cm-head {
    text-align: left;
    padding-left: 15px;
}

section.mouseguard-effects {
    position: fixed;
    z-index: 100;
    top: 0;
    filter: drop-shadow(2px 4px 6px black);
    right: 310px;
}

section.mouseguard-effects .effect-item {
    display: flex;
    justify-content: flex-end;
    height: var(--visual-active-effects-icon-size);
    margin-bottom: 8px;
}

/* THE ICON */
section.mouseguard-effects .effect-item .effect-icon {
    background-size: contain;
    box-shadow: 0 0 0 1px silver, 0 0 0 2px gray,
        inset 0 0 4px rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 40px;
    min-width: 40px;
    position: relative;
    transition: transform 0.15s;
}

section.mouseguard-effects .effect-item:hover .effect-icon {
    transform: scale(1.2);
    z-index: 100;
}

section.mouseguard-effects .effect-item .effect-icon.disabled {
    filter: brightness(0.25) grayscale(1);
}
