.mouseguard .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
}

.mouseguard .window-content input, .mouseguard .window-content textarea {
    border: 1px solid var(--color-border-light-tertiary);
}

.mouseguard form {
    height: 100%;
}

.system-mouseguard .jump-to-bottom {
    bottom: 213px;
}

.mouse-dice-roll {
    list-style: none;
}

.mouse-dice-roll li {
    display: inline;
    margin: 0 2px;
    height: 24px;
    width: 24px;
}

.mouse-dice-roll li img {
    background-color: white;
}

.dice {
    min-height: 40px;
}

.dice li {
    display: inline;
    margin: 0 2px;
    height: 24px;
    width: 24px;
}

.dice li img {
    background-color: white;
    height: 24px;
    width: 24px;
}

.mouse-tray {
    flex: none;
}

.mouse_conflict input {
    font-size: large;
    margin-bottom: 20px;
}

.combat-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
}

.combat-action .action-move {
    text-align: right;
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}

.mouse_dice_button {
    flex: 1 1 0;
}

.mouse_roll_button {
    flex: 2 1 0;
}

.mg-cm-head {
    text-align: left;
    padding-left: 15px;
}

section.mouseguard-effects {
    position: fixed;
    z-index: 100;
    top: 0;
    filter: drop-shadow(2px 4px 6px black);
    right: 310px;
}

section.mouseguard-effects .effect-item {
    display: flex;
    justify-content: flex-end;
    height: var(--visual-active-effects-icon-size);
    margin-bottom: 8px;
}

/* THE ICON */
section.mouseguard-effects .effect-item .effect-icon {
    background-size: contain;
    box-shadow: 0 0 0 1px silver, 0 0 0 2px gray,
    inset 0 0 4px rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 40px;
    min-width: 40px;
    position: relative;
    transition: transform 0.15s;
}

section.mouseguard-effects .effect-item:hover .effect-icon {
    transform: scale(1.2);
    z-index: 100;
}

section.mouseguard-effects .effect-item .effect-icon.disabled {
    filter: brightness(0.25) grayscale(1);
}

.sheet-body {
    height: 100%;
}

.sheet-body .tab {
    height: 100%;
}

.items, .contacts {
    height: 100%;
    overflow: auto;
}

.items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #7a7971;
    overflow-y: auto;
    scrollbar-width: thin;
}

.items-header > * {
    font-size: 12px;
    text-align: center;
}

.items-header {
    font-family: var(--font-sans-condensed);
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}

.items-header h3 {
    padding-left: 5px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    border: none;
    margin-bottom: 0;
}

.item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-list .item {
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}

.rollable:hover {
    text-shadow: 0 0 10px var(--color-shadow-primary);
}

.rollable:hover .item-image {
    background-image: url('../assets/dice/dicesword.webp') !important;
}

.item-image {
    flex: 0 0 35px;
    height: 40px;
    background-size: cover;
    background-position: 50% 0;
    border: none;
    margin-right: 5px;
}

.item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    align-items: center;
}

.item-list .item .item-name {
    line-height: 40px;
}

.item-list .item-name h4 {
    margin-bottom: 0;
}

.item-detail {
    font-family: var(--font-sans-condensed);
    flex: 0 0 70px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #c9c7b8;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.item-rank {
    flex: 0 0 60px;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
}

.item-rank, .item-type {
    padding: 2px;
}

.item-advancement, .item-uses {
    flex: 0 0 102px;
}

.item .item-advancement, .item .item-uses {
    text-align: left;
}

.item-controls {
    flex: 0 0 50px;
    justify-content: space-between;
}

.item-controls a {
    font-size: 12px;
    text-align: center;
}

.item-summary {
    flex: 0 0 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 0.25em 0.5em;
    color: #191813;
    border-top: 1px solid #c9c7b8;
}

.item-toggle {
    color: #b5b3a4;
}

.item-toggle.active {
    color: #4b4a44;
}



.input-group input.left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}

.input-group input.right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
}

.input-group .divider {
    text-align: center;
    border-top: 1px solid var(--color-border-light-tertiary);
    border-bottom: 1px solid var(--color-border-light-tertiary);
    background: rgba(0, 0, 0, 0.05);
    height: 35px;
    font-size: large;
    line-height: 35px;
}
