.mouseguard .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
}

.mouseguard form {
    height: 100%;
}

.mouse-dice-roll {
    list-style: none;
}

.mouse-dice-roll li {
    display: inline;
    margin: 0 2px;
    height: 24px;
    width: 24px;
}

.mouse-dice-roll li img {
    background-color: white;
}

.dice {
    min-height: 40px;
}

.dice li {
    display: inline;
    margin: 0 2px;
    height: 24px;
    width: 24px;
}

.dice li img {
    background-color: white;
    height: 24px;
    width: 24px;
}

.mouse-tray {
    flex: none;
}

.mouse_conflict input {
    font-size: large;
    margin-bottom: 20px;
}

.combat-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.combat-action .action-move {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}

.mouse_dice_button {
    flex: 1 1 0;
}

.mouse_roll_button {
    flex: 2 1 0;
}

